<ul class="nav nav-pills">
    <li>@Html.ActionLink("校园地图", "Map")</li>
    <li>@Html.ActionLink("基础信息", "Infrastructure")</li>
    <li>@Html.ActionLink("信息编辑", "Edit")</li>
    <li>@Html.ActionLink("校园覆盖", "Coverage")</li>
    <li>@Html.ActionLink("测试报告", "TestReport")</li>
    <li>@Html.ActionLink("指标报告", "KpiReport")</li>
    <li>@Html.ActionLink("精确覆盖", "PreciseKpi")</li>
</ul>
