<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collegeMenu">
                校园网功能
            </a>
        </h4>
    </div>
    <div id="collegeMenu" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="list-group">
                @Html.ActionLink("校园地图", "Map", "College", null, new { @class = "list-group-item" })
                @Html.ActionLink("基础信息", "Infrastructure", "College", null, new { @class = "list-group-item" })
                @Html.ActionLink("信息编辑", "Edit", "College", null, new { @class = "list-group-item" })
                @Html.ActionLink("校园覆盖", "Coverage", "College", null, new { @class = "list-group-item" })
                @Html.ActionLink("测试报告", "TestReport", "College", null, new { @class = "list-group-item" })
                @Html.ActionLink("指标报告", "KpiReport", "College", null, new { @class = "list-group-item" })
                @Html.ActionLink("精确覆盖", "PreciseKpi", "College", null, new { @class = "list-group-item" })
            </div>
        </div>
    </div>
</div>
