@{
    ViewBag.Title = "校园网指标报告";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
</div>

@section SPAViews{
    @{
        Html.RenderPartial("_KpiReport");
    }
}

@section Scripts{
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/collegeKpi")
}