@{
    ViewBag.Title = "校园网一览图";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    @{
        Html.RenderPartial("_CollegeMapInfoBox");
        Html.RenderPartial("../Parameters/_ENodebMapInfoBox");
        Html.RenderPartial("../Parameters/_BtsMapInfoBox");
        Html.RenderPartial("../Parameters/_SectorMapInfoBox");
    }
</div>

@section SPAViews{
    @{
        Html.RenderPartial("_Map");
    }
}

@section Scripts{
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=OeWDTDlnolWHBNP1GSkDph34"></script>
    <link rel="stylesheet" href="~/Content/themes/baidu/InfoWindow.css" />
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/themes/cloudmap/css")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/highcharts")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/collegeMap")
}

