{
    ViewBag.Title = "校园网一览图";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <p>
        @{
            Html.RenderPartial("_CollegeMenu");
        }
    </p>
</div>

@section SPAViews{
    @{
        Html.RenderPartial("_Map");
    }
}

@section Scripts{
    <link rel="stylesheet" href="~/Content/themes/baidu/InfoWindow.css" />
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/highcharts")
    @Scripts.Render("~/bundles/jqueryui")
}

