@{
    ViewBag.Title = "基本工程参数信息导入";
}

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">
            <strong>@ViewBag.Title</strong>
        </h2>
    </div>
    <p>
        @{
            Html.RenderPartial("_ParametersMenu");
        }
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>工参文件选择</h4>
        @using (Html.BeginForm("LteImportPost", "Parameters",
                FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            <p><label class="control-label">LTE Excel文件选择：</label></p>
            <div class="form-group">
                <div class="col-md-8">
                    <input name="lteExcel" class="form-control" type="file" accept=".xlsx"/>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>保存
                    </button>
                </div>
            </div>
        }
        @using (Html.BeginForm("CdmaImportPost", "Parameters",
            FormMethod.Post, new {enctype = "multipart/form-data", @class = "form-horizontal", role = "form"}))
        {
            <p><label class="control-label">CDMA Excel文件选择：</label></p>
            <div class="form-group">
                <div class="col-md-8">
                    <input name="cdmaExcel" class="form-control" type="file" accept=".xls"/>
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>保存
                    </button>
                </div>
            </div>

        }
    </div>
    @{
        Html.RenderPartial("_BasicImport");
    }
</div>

@section Scripts{
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/parametersBasicImport")
}