<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 佛山网优</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="myApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img width="60" src="~/Content/Images/Logo_new_version.png"/>
            </div>
            <div class="navbar-collapse collapse">
                <div ng-include="'/appViews/HeaderMenu.html'"></div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2004 &nbsp;-&nbsp; @DateTime.Now.Year - 广东无线网络运营中心欧阳晖</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/themes/map/all.css" rel="stylesheet" />
    <link href="~/Content/themes/baidu/InfoWindow.css" rel="stylesheet" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-ui-router.min.js"></script>
    @Scripts.Render("~/bundles/ui-bootstraps")
    @Scripts.Render("~/bundles/highcharts")
    <script src="~/Scripts/angular-ui/customize/dump.progress.factory.js"></script>
    <script src="~/Scripts/highcharts/highcharts-ng.js"></script>
    <script src="~/Scripts/mycharts/comboChart.js"></script>
    <script src="~/Scripts/mycharts/drilldown.chart.js"></script>
    <script src="~/Scripts/mycharts/drilldownColumn.js"></script>
    <script src="~/Scripts/mycharts/drilldownPie.js"></script>
    <script src="~/Scripts/mycharts/gradientPie.js"></script>
    <script src="~/Scripts/service/app.kpi.service.js"></script>
    <script src="~/Scripts/service/app.parameters.service.js"></script>
    <script src="~/Scripts/service/app.region.service.js"></script>
    <script src="~/Scripts/service/app.url.service.js"></script>
    <script src="~/Scripts/service/mongo/cell.huawei.js"></script>
    <script src="~/Scripts/service/mongo/handoff.js"></script>
    <script src="~/Scripts/service/mongo/neighbor.js"></script>
    <script src="~/Scripts/service/parameters.chart.js"></script>
    <script src="~/Scripts/service/parameters.map.service.js"></script>
    <script src="~/Scripts/service/topic/college.js"></script>
    <script src="~/Scripts/service/topic/college.map.service.js"></script>
    <script src="~/Scripts/service/workitem.service.js"></script>
    <script>
        var app = angular.module('myApp', [
            'college',
            'college.map',
            'handoff.parameters',
            "highcharts-ng",
            'huawei.mongo.parameters',
            'kpi.workitem',
            'myApp.dumpInterference',
            'myApp.kpi',
            'myApp.parameters',
            'myApp.region',
            'myApp.url',
            'neighbor.mongo',
            'ngRoute',
            'parametersMap',
            'parameters.chart',
            "ui.bootstrap",
            'ui.router'
        ]);
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
