<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#kpiTests">
                AngularJS测试
            </a>
        </h4>
    </div>
    <div id="kpiTests" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="list-group">
                @Html.ActionLink("Simple Type Test", "Simple", "AngularTest", null, new { @class = "list-group-item" })
                @Html.ActionLink("Submit Form", "SubmitForm", "AngularTest", null, new { @class = "list-group-item" })
                @Html.ActionLink("Root Property", "RootProperty", "AngularTest", null, new { @class = "list-group-item" })
                @Html.ActionLink("第 9 章　内置指令", "Chapter9Ari", "AngularTest", null, new { @class = "list-group-item" })
                @Html.ActionLink("第 10 章　指令详解", "Chapter10Ari", "AngularTest", null, new { @class = "list-group-item" })
            </div>
        </div>
    </div>
</div>
