<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#exampleTests">
                    QUnit官网案例测试
                </a>
            </h4>
        </div>
        <div id="exampleTests" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="list-group">
                    @Html.ActionLink("Main Test", "Main", "QUnitTest", null, new { @class = "list-group-item" })
                    @Html.ActionLink("Legacy Markup", "LegacyMarkup", "QUnitTest", null, new {@class = "list-group-item"})
                    @Html.ActionLink("No QUnit Markup", "NoQUnitMarkup", "QUnitTest", null, new {@class = "list-group-item"})
                    @Html.ActionLink("Single Test Id", "SingleTestId", "QUnitTest", null, new {@class = "list-group-item"})
                    @Html.ActionLink("Auto Start", "AutoStart", "QUnitTest", null, new {@class = "list-group-item"})
                    @Html.ActionLink("Headless", "Headless", "QUnitTest", null, new {@class = "list-group-item"})
                    @Html.ActionLink("Logs", "Logs", "QUnitTest", null, new { @class = "list-group-item" })
                    @Html.ActionLink("Only", "Only", "QUnitTest", null, new { @class = "list-group-item" })
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#collegeTests">
                    CoffeeScript脚本测试
                </a>
            </h4>
        </div>
        <div id="collegeTests" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                    @Html.ActionLink("Hotseat 5x5", "Hotseat", "CoffeeScript", null, new { @class = "list-group-item" })
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#parametersTest">
                    工参脚本测试
                </a>
            </h4>
        </div>
        <div id="parametersTest" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                    @Html.ActionLink("工参上传测试", "BasicPost", "WebApiTest", null, new { @class = "list-group-item" })
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   href="#webapiTest">
                    WebApi测试
                </a>
            </h4>
        </div>
        <div id="webapiTest" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="list-group">
                    @Html.ActionLink("简单类型测试", "SimpleType", "WebApiTest", null, new { @class = "list-group-item" })
                    @Html.ActionLink("Html5csv测试", "Html5Test", "WebApiTest", null, new { @class = "list-group-item" })
                    @Html.ActionLink("Html5csv测试-2", "Html5PostTest", "WebApiTest", null, new { @class = "list-group-item" })
                </div>
            </div>
        </div>
    </div>
</div>
